# Eliminer le svn du TOB
tps/.svn

# Eliminer la configuration d'IntelliJ Idea
tps/.idea

# Eliminer les fichiers produits par compilation.
tps/out
out

# Eliminer les evaluations
tps/mini-projet/evaluations

# Eliminer les .class
*.class

# Eliminer les evaluations
tps/projet-court/evaluations

# Eliminer les tests
tps/projet-court/tests