# Object file
*.o

# Ada Library Information
*.ali

# Visual Studio Code configuration
.vscode/*

# Generated executables
.executables/*
*/.executables/*

# Test file for custom code
PIM/tests.adb

# Eliminer les td/tp non faits
PIM/t[pd]*

# Eliminer le svn.
PIM/.svn